* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222222;
}
.header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
    margin-top: -45px;
}


.mrvl-img{
    flex-shrink: 0;
    min-width: 100%;
    max-height: 100%;
    height: 750px;
}

.mrvl-logo{
    margin-top: -266px;
    flex-shrink: 0;
    width: 31.5%;
    height: 193px;
    filter: drop-shadow(1px 1px 1px rgba(255, 255, 255, 0.521));
}
.chars-container{
    margin-top: 200px;
    margin-left: 150px;
    margin-right: 150px;
}
.characters {
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
}

.character{
    display: flex;
    flex-shrink: 0;
    width: 164px;
    height: 255px;
    padding: 20px;
}




.box{
    position:absolute;
    z-index:-1;
    top:40px;
    left:150px;
    width:50px;
    height:280px;
    border:2px solid #ffffff;
    background-color:transparent;
}
.container-img{
    display: flex;
    justify-content: space-around;
    height: 280px;
    width: 180px;
    position: relative;
    margin-top: 75px;
    margin-right: -164px;
    z-index:-1;
    border-top: 0.1em solid #9ee780;
    border-right: 0.1em solid rgb(240, 241, 141);
    border-bottom: 0.1em solid rgb(145, 236, 252);
    border-left: 0.1em solid rgb(248, 115, 106);
}